<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletFilter</display-name>
  <welcome-file-list>
    <welcome-file>input.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>sum</servlet-name>
  	<servlet-class>com.nt.servlet.SumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>sum</servlet-name>
 	<url-pattern>/sumurl</url-pattern> 	
  </servlet-mapping>
  
  <filter>
  	<filter-name>input</filter-name>
  	<filter-class>com.nt.filter.CheckinputFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>input</filter-name>
  	<url-pattern>/sumurl</url-pattern>	
  </filter-mapping>
</web-app>