<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Gradle_HttpSessionTrackingUsingCookies</display-name>
  <welcome-file-list>
    <welcome-file>tax.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>s1</servlet-name>
  	<servlet-class>com.nt.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>s1</servlet-name>
	<url-pattern>/furl</url-pattern>  
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>s2</servlet-name>
  	<servlet-class>com.nt.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>s2</servlet-name>
	<url-pattern>/f2url</url-pattern>  
  </servlet-mapping>

  
</web-app>